<div class="containter">
  <h2 class="title">Cards Against <span class="dark">Mozharity</span></h2>

  <%= @cards.count %>

  <div class="cards-list">
    <% @cards.each do |card| %>
      <% if card.visible %>
        <div class="card card-<%= card.card_type %>" data-id="<%= card.id %>">
          <div class="card-controls">
            <a href="#" class="hide">x</a>
          </div>
          <%= card.text %>
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>