// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f5f5f5;
}

.containter {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    white-space: nowrap;
}
.col {
    display: inline-block;
    white-space: normal;
}
.col-half {
    width: 50%;
}

.card {
    width: 200px;
    padding: 20px;
    font-size: 16px;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

    resize: none;

    &-white {
        background: white;
        color: #333;
    }
    &-black {
        background: #151515;
        color: white;
    }
}
.card:focus {
    outline: none;
}

.button {
    min-width: 160px;
    padding: 10px 14px;
    background: white;
    border: 1px solid #232323;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 2px solid #000000;
    border-bottom-width: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #232323;
    text-decoration: none;

    &-dark {
        // border-color: white;
        background: #333;
        color: white;
    }
}
.controls {
    .card-controls {
        float: right;
        margin-top: 12px;
    }
}

.title {
    .dark {
        display: inline-block;
        background-color: #333;
        color: white;
        padding: 0 5px;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
    }
}

#cah_form .row {
    margin-bottom: 20px;
}